.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf5f9;
    height: 100vh;
}

.container h1 {
    font-size: 8rem;
    color: #196DB6;
}

.container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #505A64;
}

.container p {
    margin: 1rem;
}

.container a {
    text-decoration: none;
}